@model TimeReporting.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">client</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.client)
    </div>

    <div class="display-label">managerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.managerName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.projectID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
