@model  TimeReporting.Models.Project
<H2>Client: </H2>
@if (Model != null)
{
   <span> @Model.client; </span>
}

<h2>Work effort: </h2>
 <table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Task
        </th>
        <th>
            Time in minutes
        </th>
        <th>
            Date
        </th>
        <th>
            Comment
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model.TimeRecords)
        {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Activity.title)                                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
        </tr> 
        }
    }

</table>


