

@model TimeReporting.Models.Chat
           



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ChatBox</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.chatMsg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.chatMsg)
            @Html.ValidationMessageFor(model => model.chatMsg)
        </div>

        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
